{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block content %}

<body>
    <div class="container color">
        <br>
        <br>
        <br>
        <br>
        <div class="jumbotron">
            <h2 class="head">PITCH CATEGORIES</h2>
        </div>
        <br>
        <div class="row col-sm-9 col-xs-9 col-md-8 col-lg-8">
            <br>
            <div class="thumbnail blogs">
                <h3><b>Sarcastic pitches</b></h3>
                <br>
                <p>if you love something,set it free.if it comes back,it is extrememly needy and clingy.Set is free again</p>
                <br>
            </div>
            <div class="thumbnail blogs">
                <h3><b>About life</b></h3>
                <br>
                <p>"Life is 10% what happens to you and 90% how you react to it"

                </p>
                <br>
            </div>
            <div class="thumbnail blogs">
                <h3><b>Motivational pitches</b></h3>
                <br>
                <p>At the end of the day,we can endure much more than we think we can</p>
                <br>
            </div>
            <div class="thumbnail blogs">
                <h3><b>Other Categories</b></h3>
                <img src="static/photos/mirrors.jpg" alt="">
                <br>
                <p>What doesnt kill you mentally scars you for life</p>
                <br>
            </div>
        </div>
        <div class="row col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
        <div class="row col-sm-2 col-xs-2 col-md-3 col-lg-3" style="border-left: 3px black">
            <!-- <div class="button btn btn-success">
                        <a href="/subscribe" class="subscribe">Subscribe Here:</a>
                    </div> -->
            <br>
            <br>
            <!-- <div class="col-md-6"> -->
            <div class="thumbnail">
                <h2 class="view">View Posted Pitches:</h2>
                {{macro.displayBlog(blogs)}}
                <!-- <div class="col-md-3"> -->
                    <!-- <div class="container"> -->
                        <form button="submitQuote()" #blogForm=''>
                      <div class="form-group">
                        <label for="name"> Your Pitch :</label>
                        <textarea class="form-control" id="name" rows="4" name="name"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="author">Author:</label>
                        <input type="text" class="form-control" id="author" name="name">
                      </div>
                      <div class="form-group">
                        <label for="fan">Written by:</label>
                          <input type="text" class="form-control" id="fan" name="name">
                      </div>
                      <button type="submit" id="go">Pitch</button>
                        </form>
            </div>
        </div>
    </div>
</body>




{% endblock %}