{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block content %}

<body>
 {{macro.displayBlog(blogs)}}

   <div class="container">
       <h1>IMPRESS ME</h1>
       <P>Welcome!!!!!!</P>
           <h2 class="head">PITCH CATEGORIES</h2>

       <br>
       <br>
       <div class="thumbnail blogs">
           <h3><b>Sarcastic pitches</b></h3>
           <br>

           <br>
       </div>
       <div class="thumbnail blogs">
           <h3><b>Pitches About life</b></h3>
           <br>
           <br>
       </div>
       <div class="thumbnail blogs">
           <h3><b>Motivational pitches</b></h3>
           <br>
           <br>
       </div>
       <div class="thumbnail blogs">
           <h3><b>Other Categories</b></h3>
           <br>
           <br>
           </div>
       </div>
   </div>
    <style>
    body{
        text-align: center;
        background-image: url("https://jooinn.com/images/backgrounds-49.jpg")
    }
    </style>
    </body>
                    
</body>
{% endblock %}